
<!-- FORTUNE HEADER -->

<section id="visit-header" class="p-5 mt-0 page-header" >
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1><strong>Places to explore</strong></h1>
            </div>
        </div>
    </div>
</section>

<section class="mt-5" id="visit">
    <div class="container">

        <div class="row ">
            <div class="col-md-6 " id="visit1">
                <div class=" visit1">
                    <a href="https://www.minneapolisparks.org/parks__destinations/parks__lakes/minnehaha_regional_park/">
                        <div class="row text-white ">
                            <div class="col pt-1 text-center">
                                <h4>Minnehaha Regional Park</h4>
                                <p class="text-muted">Minneapolis, MN</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="row">
                    <div class="col-md-12  text-center "  id="visit2">
                        <div class=" visit2">
                            <a href="http://icecastles.com/stillwater/">
                                <div class="row text-white ">
                                    <div class="col pt-1 text-center">
                                        <h5 class="mb-0">Ice Castles</h5>
                                        <p class="text-muted">Stillwater, MN</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12  text-center " id="visit3">
                        <div class="visit3">
                            <a href="https://fitzgeraldtheater.publicradio.org/">
                                <div class="row text-white ">
                                    <div class="col pt-1 text-center">
                                        <h5 class="mb-0">Fitzgerald Theater</h5>
                                        <p class="text-muted">St.Paul, MN</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col" id="visit4">
                <div class="visit4">
                    <a href="http://www.mnstatefair.org/">
                        <div class="row text-white ">
                            <div class="col pt-1 text-center">
                                <h1 class="mb-0">Minnesota State Fair</h1>
                                <p class="text-muted lead">Falcon Heights, MN</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 ">
                <div class="row">
                    <div class="col-md-6 "  id="visit5">
                        <div class="visit5">
                            <a href="http://www.duluth.com/">
                                <div class="row text-white ">
                                    <div class="col pt-1 text-center">
                                        <h4 class="">Duluth </h4>
                                        <p class="text-muted">Duluth, MN</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 " id="visit6">
                        <div class="visit6">
                            <a href="https://www.visitsealife.com/minnesota/">
                                <div class="row text-white ">
                                    <div class="col pt-1 text-center">
                                        <h4 class="">Sea Life at the MOA</h4>
                                        <p class="text-muted">Bloomington, MN</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 " id="visit7">
                <div class="visit7">
                    <a href="https://www.orfieldlabs.com/">
                        <div class="row text-white ">
                            <div class="col pt-1 text-center">
                                <h4 class="">Orfield Laboratories</h4>
                                <p class="text-muted">South Minneapolis, MN</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

