<div class="container" id="footer">
    <div class="row">
        <div class="col" id="footer-column">
            <h5 style="color: rgb(139,171,203);"><strong>Follow Us</strong></h5>
            <a href="https://twitter.com/exploreminn" class="footer-icon"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/minnesotaonly/" class="footer-icon"><i class="fab fa-facebook-f "></i></a>
            <a href="https://www.instagram.com/exploreminnesota/?hl=en" class="footer-icon"><i class="fab fa-instagram "></i></a>
            <a
                href="https://www.youtube.com/user/ExploreMinnesota" class="footer-icon"><i class="fab fa-youtube "></i>
            </a>
            <small class="form-text text-muted">Copyright&nbsp;© Discover MN 2019<br></small>
        </div>
    </div>
</div>
