<div id="eventswidget" w-type="event-discovery" w-tmapikey="ptIzJMYpSwQiKMYCF0WEiAjJGbpDfhCw"
    w-keyword="music" w-theme="simple" w-colorscheme="light" w-width="350" w-height="600" w-size="25" w-border="0"
    w-borderradius="4" w-radius="30" w-period="month" w-layout="vertical" w-attractionid="" w-promoterid="" w-venueid=""
    w-affiliateid="" w-segmentid="" w-proportion="custom" w-titlelink="on" w-sorting="groupByName" w-id="id_l7ctqr"
    w-source="" w-branding="Ticketmaster" w-latlong="44.9778,-93.2650"></div>


    <div id="eventswidget" w-type="event-discovery" w-tmapikey="ptIzJMYpSwQiKMYCF0WEiAjJGbpDfhCw" w-googleapikey="YOUR_GOOGLE_API_KEY"
        w-keyword="music" w-theme="listviewthumbnails" w-colorscheme="dark" w-width="900" w-height="950" w-size="25" w-border="2"
        w-borderradius="4" w-radius="25" w-period="month" w-layout="horizontal" w-attractionid="" w-promoterid="" w-venueid=""
        w-affiliateid="" w-segmentid="" w-proportion="xxl" w-titlelink="off" w-sorting="groupByName"
        w-source="" w-branding="Ticketmaster" w-latlong="44.9777530,-93.2650108"></div>

<script src="https://ticketmaster-api-staging.github.io/products-and-docs/widgets/event-discovery/1.0.0/lib/main-widget.js"></script>
<script src="https://ticketmaster-api-staging.github.io/products-and-docs/widgets/event-discovery/1.0.0/lib/main-widget.js"></script>