<section id="events-header" class="p-5 mt-0 page-header mb-5" >
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1><strong>Upcoming Events</strong></h1>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 ">
            <div id="events-widget" w-type="event-discovery" w-tmapikey="ptIzJMYpSwQiKMYCF0WEiAjJGbpDfhCw" w-googleapikey="YOUR_GOOGLE_API_KEY"
                w-keyword="" w-theme="simple" w-colorscheme="light"   w-size="25" w-border="2"
                w-borderradius="4" w-radius="25" w-period="month" w-layout="fullwidth" w-attractionid="" w-promoterid="" w-venueid=""
                w-affiliateid="" w-segmentid="" w-proportion="custom" w-titlelink="off" w-sorting="groupByName" w-id="id_je361"
                w-source="" w-branding="Ticketmaster" w-latlong="44.9777530,-93.2650108"></div>


        </div>
    </div>
</div>



