#events-header {
    min-height:250px;
    background: url(../../assets/images/events/events.jpg) center;
    background-repeat: no-repeat;
    background-size:cover;
    color: white;

    text-align:center;
    // color:$body-background;
    margin-top:20px;
}

#events-widget {
    width: inherit;
}