nav {

     img {
        height: 44px;
      }
      
    .navbar-brand {
    font-size: x-large;
    }
    
    .nav.navbar-nav.ml-auto {
    font-size: larger;
    font-weight: 500;
    }
    
    
}

.active-link {
  border-left: 4px solid yellow;
  }

.navbar.navbar-light.navbar-expand-md {
  padding-left: 108px;
  padding-right: 108px;
}


@media (min-width: 300px) {

  .navbar.navbar-light.navbar-expand-md {
    padding-left: 10px;
    padding-right: 10px;
  }


}