<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><a class="navbar-brand" href="#"><strong>Discover MN</strong>
        <img src="../../assets/images/mn-icon.png"></a><button class="navbar-toggler" data-toggle="collapse"
        data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
            class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active-link">
                        <i class="fa fa-home"></i>&nbsp;Home</a>
                    </li>
                <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/fortune" routerLinkActive="active-link"><i
                            class="fa fa-money"></i>&nbsp;Fortune 500</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/explore" routerLinkActive="active-link"><i
                            class="fa fa-map-marker"></i>&nbsp;Places to explore</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/eventsmn" routerLinkActive="active-link"><i
                            class="fa fa-calendar"></i>&nbsp;Events</a></li>
            </ul>
        </div>
    </div>
</nav>