nav {

    // border-bottom: 1px solid black;

     img {
        height: 44px;
      }
      
    .navbar-brand {
    font-size: x-large;
    }
    
    .nav.navbar-nav.ml-auto {
    font-size: larger;
    font-weight: 500;
    }
    
    .nav-link.active {
    border-left: 4px solid yellow;
    }
}




  