
  
  #fortune {
    background: url(../../assets/images/fortune.jpg) no-repeat center;
    background-size: cover;
    color: white;
  }
  
  #fortune-header {
    padding-top: 173px;
  }
  
  .logos {
    text-align: center;
  }
  
  .uhg {
    margin-top: 101px;
  }
  
  .st-jude {
    margin-top: 80px;
  }
  
  .ch-robinson {
    /*max-height: 400px;*/
  }
  
  