<section class="d-block mb-5" id="carousel">
    <div class="carousel slide" data-ride="carousel" id="carousel-1">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active"
                style="filter: blur(0px);background-image: url(&quot;../../assets/images/stone-arch.jpg&quot;);">
                <div class="carousel-caption">
                    <h3>Stone Arch Bridge</h3>
                    <p class="caption-city">Minneapolis, MN</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url(&quot;../../assets/images/light-dark.jpg&quot;);">
                <div class="carousel-caption">
                    <h3 style="filter: blur(0px);">Lake Superior Lighthouse</h3>
                    <p class="caption-city">Duluth, MN</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url(&quot;../../assets/images/golden-horse.jpg&quot;);">
                <div class="carousel-caption">
                    <h3>Saint Paul's Golden Horses</h3>
                    <p class="caption-city">Saint Paul, MN</p>
                </div>
            </div>
        </div>
        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span
                    class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a
                class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span
                    class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
        <ol class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-1" data-slide-to="1"></li>
            <li data-target="#carousel-1" data-slide-to="2"></li>
        </ol>
    </div>
</section>
<div class="container" id="seasons">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><i class="fas fa-seedling"></i></h4>
                    <h1><strong>Spring</strong></h1>
                    <p class="card-text">Spring is a time of major transition in Minnesota. As winter nears its end, the
                        sun rises higher in the sky and temperatures begin to moderate<br></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><i class="fas fa-sun"></i></h4>
                    <h1><strong>Summer</strong></h1>
                    <p class="card-text">Daily average summer temperatures in Minnesota range from the low 70s (22 °C)
                        in the south to the mid 60s °F (19 °C) in the north. Because summer time air masses are not as
                        volatile as in the winter, daily high and low temperatures
                        rarely vary more than 15 degrees (7 °C) either side of normal.<br></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><i class="fas fa-leaf"></i></h4>
                    <h1><strong>Autumn</strong></h1>
                    <p class="card-text">Autumn weather in Minnesota is largely the reverse of spring weather. Autumn
                        and spring are the windiest times of the year in Minnesota.<br></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><i class="fas fa-snowflake"></i></h4>
                    <h1><strong>Winter</strong></h1>
                    <p class="card-text">The U.S. Pond Hockey Championships are played every January on Lake Nokomis in
                        Minneapolis Even though winter does not officially start until late December, Minnesota usually
                        begins experiencing winter-like conditions in November,
                        sometimes as early as October.<br></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="intro-video"><a href="https://www.youtube.com/embed/i0yI4uBdfLE" target="_blank" data-toggle="modal"
        data-target="#videoModal"><i class="fa fa-play-circle"></i></a>
    <h1><strong>See Who We Are</strong></h1>
</div>
<div class="container mt-5 mb-5" id="gallery">
    <h1 class="text-center"><em>Photo Gallery</em></h1>
    <div class="row">
        <div class="col-4 .photos mt-3"><a href="../../assets/images/capitol.jpg" target="_blank"
                data-lightbox="gallery"><img src="../../assets/images/capitol.jpg" class="img-fluid"></a></div>
        <div class="col-4 .photos mt-3"><a href="../../assets/images/fish.jpg" target="_blank"
                data-lightbox="gallery"><img src="../../assets/images/fish.jpg" class="img-fluid"></a></div>
        <div class="col-4 .photos mt-3"><a href="../../assets/images/ice-castles.jpg" target="_blank"
                data-lightbox="gallery"><img src="../../assets/images/ice-castles.jpg" class="img-fluid"></a></div>
        <div class="col-4 .photos mt-3"><a href="../../assets/images/kids.jpg" target="_blank"
                data-lightbox="gallery"><img src="../../assets/images/kids.jpg" class="img-fluid"></a></div>
        <div class="col-4 .photos mt-3"><a href="../../assets/images/lsh.jpg" target="_blank"
                data-lightbox="gallery"><img src="../../assets/images/lsh.jpg" class="img-fluid"></a></div>
        <div class="col-4 .photos mt-3"><a href="../../assets/images/stadium.jpg" target="_blank"
                data-lightbox="gallery"><img src="../../assets/images/stadium.jpg" class="img-fluid"></a></div>
        <div class="col-4 .photos mt-3"><a href="../../assets/images/state-fair.jpg" target="_blank"
                data-lightbox="gallery"><img src="../../assets/images/state-fair.jpg" class="img-fluid"></a></div>
        <div class="col-4 .photos mt-3"><a href="../../assets/images/buck-hill.jpg" target="_blank"
                data-lightbox="gallery"><img src="../../assets/images/buck-hill.jpg" class="img-fluid"></a></div>
        <div class="col-4 .photos mt-3"><a href="../../assets/images/us-stadium.jpg" target="_blank"
                data-lightbox="gallery"><img src="../../assets/images/us-stadium.jpg" class="img-fluid"></a></div>
    </div>
</div>


<!-- VIDEO MODAL -->
<div class="modal fade" id="videoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
                <iframe src="https://www.youtube.com/embed/i0yI4uBdfLE" height="350" width="100%" allowfullscreen
                    frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>